body {
  margin: 0;

  background: linear-gradient(45deg, #318bdf, #3535af); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
